@media (max-width:900px){ /*Vai receber algumas regras abaixo de 900*/
  #page-home{
    background-position: 70vw;
  }
  #page-home .content{
    align-items: center;
    text-align: center;
  }
  #page-home header a {
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translateX(-50%);
  }
  #page-home main{
    align-items: center;
  }

  #page-search-results .cards{
    grid-template-columns: 1fr;
  }

  #page-create-point .field-group{
    flex-direction: column;
  }

  #page-create-point .field-group .field + .field{
    margin-left: 0;
  }


}

@media (min-width:1700px){ /*DE 1700 PRA CIMA */
  #page-home{
    background-position: 40vw;
  }
}

@media (max-height:760px){ /*quando chegar a 700 a imagem vai mexer */
  #page-home{
    background-position-y: 200px;
  }
}